@model AppData.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="categoryId" value="@ViewData["CategoryId"]" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="category_name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImportDate" class="control-label"></label>
                <input asp-for="ImportDate" class="form-control" id="category_date" />
                <span asp-validation-for="ImportDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px">
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            // Hàm tải dữ liệu sản phẩm
            var categoryId = $('#categoryId').val();

                $.ajax({
                    url: `https://localhost:7138/api/ProductCategories/${categoryId}`,
                    type: 'GET',
                    success: function(response) {
                        if (response.status === 200) {
                            var category = response.data[0];
                            var importDay = new Date(category.importDate);
                            var formattedImportDay = importDay.toISOString().slice(0, 16); 
                            // Điền dữ liệu vào form
                            $('#category_name').val(category.name);
                            $('#category_date').val(formattedImportDay);


                        } else {
                            alert("Không thể tải dữ liệu");
                        }
                    },
                    error: function() {
                        alert("Không thể tải dữ liệu");
                    }
                });

            // Xử lý save thông tin
            $('#btnSave').on('click', function (e) {
                e.preventDefault();

                const categoryData = {
                    id: $('#categoryId').val(),
                    name: $('#category_name').val(),
                    importDate: $('#category_date').val(),
                };

                if (!categoryData.name || !categoryData.importDate) {
                    alert('Please fill all fields!');
                    return;
                }
                $.ajax({
                    url: 'https://localhost:7138/api/ProductCategories',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(categoryData),
                    success: function (response) {
                        if (response.status === 200) {
                            alert(response.message);
                            setTimeout(function () {
                                window.location.href = '/Categories';
                            }, 500);
                        } else {
                            alert('Error: ' + response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Status: ', status);
                        console.error('Error: ', error);
                        console.error('Response: ', xhr.responseText);
                        alert(`Error ${xhr.status}: ${xhr.statusText}`);
                    }
                });
            });
        });
    </script>
}
